<!DOCTYPE html>
<html>

<head>
  [%google_Analytics%]
  [%google_Adsense%]
  <meta name="description" content="[%meta_description%]">
  <meta name="keywords" content="[%meta_keywords%]">
  <meta name="author" content="[%meta_authors%]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  [%js_list%]
  [%css_list%]
  <Title>[%site_title_prefix%][%site_title%]</Title>
  <style>
    .class_Banner,
    .class_Footer {
      background-image: url("[%background_image%]");
    }

    .class_site_block img {
      width: 100%;
      text-align: center;
    }

  </style>
  <script>

  </script>
</head>

<body>
  [%navigation_bar%]
  <div class="class_Banner">
    <div class='class_navbar_gap'></div>
    <div class="class_BannerTitle">
      <h1>[%site_title%]</h1>
      [%social_links_bar%]
    </div>
  </div>
  <div id="id_blockBody">
    <div class="class_block_list">
      
    </div>
    <div class='class_site_block'>
      <img src="[%image_file%]" onmousemove="zoomIn(event, this)" onmouseout="zoomDone(event, this)"></img>
      <div class='class_site_block'><h2>Try Out the Origami Roullete</h2><div class='class_site_block_body'><p>Try this Origami Roullete, spin it to select a random Origami Tutorial from my channel Heap Art</p><p>The rule of the game is: Spin, Watch and Learn.</p><p>You have to try to fold the model that shows up.</p><p>By the way, the video will loop to help you learn from my "Quickie Origami" series.</p><p>Enjoy!</p><p>Wilson Lee @HeapArt</p><div style='text-align:center;' ><button onClick='loadVideoList(fillRandomYTVideoPlayers);'>Spin Roullete</button><div></div><div class='class_site_block_caption'><iframe class="class_YouTubePlayer class_randomYTVideo" videoTags="origami" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div></div>
    </div>
  </div>
  <div class="class_Footer">
    [%social_links_bar%]
  </div>
</body>

</html>