<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  [%google_Adsense%]
  [%js_list%]
  [%css_list%]
  <Title>[%site_title_prefix%][%site_title%]</Title>
  <style>
    .class_Banner , .class_Footer{
      background-image: url("[%background_image%]");
    }
  </style>
</head>
<body>
  [%navigation_bar%]
  <div class="class_Banner">
    <div class='class_navbar_gap'></div>
    <div class="class_BannerTitle"> 
      <h1 >[%site_title%]</h1>
      [%social_links_bar%]
    </div>
  </div>
  <div id="id_blockBody">
      [%block_list%][%block_file%]
  </div>
  <div class="class_Footer">
      [%social_links_bar%]
  </div>
</body>

</html>