<!DOCTYPE html>
<html>
<head>
  [%google_Analytics%]
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="favicon.ico" />
  <meta name="description" content="[%meta_description%]">
  <meta name="keywords" content="[%meta_keywords%]">
  <meta name="author" content="[%meta_authors%]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  [%js_list%]
  [%css_list%]
  <Title>[%site_title_prefix%][%site_title%]</Title>
  <style>
    .class_Banner , .class_Footer{
      background-image: url("[%background_image%]");
    }
  </style>
</head>
<body>
  [%navigation_bar%]
  <div class="class_content_body">
    <div class="class_Banner">
      <div class='class_navbar_gap'></div>
      <div class="class_BannerTitle"> 
        <h1 >[%site_title%]</h1>
        [%social_links_bar%]
      </div>
    </div>
    <div id="id_blockBody">
        [%block_list%][%block_file%]
    </div>
    <div class="class_Footer">
        [%social_links_bar%]
    </div>  
  </div>
</body>

</html>