.class_social_links_bar {
  margin: auto;
  height: 30px;
  text-align: center;
  vertical-align: baseline;
}

.class_social_link {
  overflow: hidden;
  margin: 5px;
}

.class_social_link img {
  height: 100%;
}

.class_site_block {
  width: calc(100% - 50px);
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 25px 5px 15px 5px;
  background: white;
  background-clip: padding-box;  
}

.class_site_block_body {
  text-align: left;
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

.class_site_block_body div iframe{
 margin: 10px;
}

.class_YouTubePlayer {
  width: calc(100% - 10px);
  max-width: 600px;
  margin: auto;
}

.class_block_image {
  max-width: calc(100% - 10px);
  max-height: 400px;
  margin: auto;
}